#Authentification
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 40px;

    h1 
    {
        font-weight: 700;
        font-size: 1.25em;
    }

}

#Registration, #Login
{
    display: flex;
    gap: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .form 
    {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .error
    {
        color: #CB3258;
        font-size: 0.9em;
        display: none;
    }

    .buttonSubmitAuthentification 
    {
        border: none;
        outline: none;
        background-color: #CB3258;
        font-family: Lexend;
        color: #f2f2f2;
        padding: 5px 15px;
        border-radius: 50px;
        cursor: pointer;
    }

    a 
    {
        color: #CB3258;
        text-decoration: none;
        font-size: 0.9em;
    }
}

#InputAuth 
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 7px 25px 7px 15px;
    gap: 10px;
    border-radius: 50px;
    border: 1px solid rgba($color: #7d7d7d, $alpha: 0.2);
    
    i 
    {
        color: #7d7d7d;
    }

    .fa-flip 
    {
        -webkit-animation: fa-flip 1.5s infinite linear;
        animation: fa-flip 1.5s infinite linear;
        color: #CB3258;
    }

    input
    {
        border: none;
        font-family: Lexend;
        background-color: transparent;
        outline: none;
        width: 200px;
    }

    input::placeholder 
    {
        color: #7d7d7d;
    }
}